    @model BestellingenViewModel




@{
    ViewBag.Title = "Personen"; 
} 






    <h2>Bestellingen</h2> 
    
    
    <table class="table table-hover">

    <thead>
        <tr> <th>ID</th> <th>Besteldatum</th> <th>KlantId</th></tr>
    </thead>

    <tbody>
        @foreach(var bestellingItem in Model.BestellingItems) {
                <tr><td>@bestellingItem.BestelId</td> <td>@bestellingItem.Besteldatum</td> <td>@bestellingItem.KlantId</td> <td><a href="/hierLinkNaarBestellingDetail"><button class="btn btn-success">Ga naar bestelling</button></a></td></tr>
        }
    </tbody>



