    @model BestellingenViewModel




@{
    ViewBag.Title = "Personen"; 
} 






    <h2>Personen</h2> 
    
    
    <table class="table table-striped">

    <thead>
        <tr> <th>ID</th> <th>Voornaam</th> <th>Familienaam</th> <th>Score</th> <th>Wedde</th> <th>Paswoord</th> <th>Geboren</th> <th>Gehuwd</th> <th>Opmerkingen</th> <th>Geslacht</th></tr>
    </thead>

    <tbody>
        @foreach(var bestellingItem in Model.BestellingItems) {
                <tr><td>@bestellingItem.BestelId</td> <td>@bestellingItem.Besteldatum</td> <td>@bestellingItem.Klant</td></tr>
        }
    </tbody>

}

