@model BestellingWijzigenViewModel

@{
    ViewData["Title"] = "Bestelling wijzigen";
}

<h2 class="mb-3 mt-2">Bestelling wijzigen</h2>

<form class="form" asp-action="WijzigenDoorvoeren" method="post">   
    <input asp-for="BestelId" hidden />
    <div>
        <label asp-for="Betaald"></label>
        <input asp-for="Betaald" />
    </div>

    <div>
        <label asp-for="Bedrijfsnaam"></label>
        <input asp-for="Bedrijfsnaam" />
    </div>

    <div>
        <label asp-for="BtwNummer"></label>
        <input asp-for="BtwNummer" />
    </div>

    <div>
        <label asp-for="Voornaam"></label>
        <input asp-for="Voornaam" />
    </div>

    <div>
        <label asp-for="Familienaam"></label>
        <input asp-for="Familienaam" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-success">Wijzigingen doorvoeren</button>
        <a asp-action="Details" asp-route-id="@Model.BestelId" class="btn btn-secondary">Annuleren</a>
    </div>
</form>