@model BestellingWijzigenViewModel

@{
    ViewData["Title"] = "Bestelling wijzigen";
}

<h2 class="text-center">Bestelling wijzigen</h2>

<form class="form form-responsive" asp-action="WijzigenDoorvoeren" method="post">
    <input asp-for="BestelId" hidden />
    <div class="form-group">
        <label asp-for="Betaald"></label>
        <input asp-for="Betaald" type="checkbox" class="form-check-input" />
    </div>

    <div class="form-group">
        <label asp-for="Bedrijfsnaam"></label>
        <input asp-for="Bedrijfsnaam" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BtwNummer"></label>
        <input asp-for="BtwNummer" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Voornaam"></label>
        <input asp-for="Voornaam" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Familienaam"></label>
        <input asp-for="Familienaam" class="form-control" />
    </div>

    <div class="form-buttons">
        <button type="submit" class="btn btn-success">Wijzigingen doorvoeren</button>
        <a asp-action="Details" asp-route-id="@Model.BestelId" class="btn btn-danger">Annuleren</a>
    </div>


</form>
