<h1>Administrator</h1>
<a asp-action="SecurityGroepen">
    <button class="btn btn-success">Security groepen</button>
</a>
<a asp-action="PersoneelsAccounts">
    <button class="btn btn-success">Personeelsaccounts</button>
</a>
