@{
    ViewBag.Title = "Account Management";
}

<h2 class="mt-2 mb-3">Account Management</h2>

Ingelogd als : <b>@ViewBag.Email</b>


<a asp-action="Logout" class="btn btn-danger">Uitloggen</a>



<a asp-action="PaswoordWijzigen" class="btn btn-success">Paswoord wijzigen</a>



