@{
    ViewBag.Title = "Accountbeheer";
}

<h2 class="mt-2 mb-3">Accountbeheer</h2>

<div>
    Ingelogd als : <b>@ViewBag.Email</b>
</div>

<div>
    <a asp-action="PaswoordWijzigen" class="btn btn-success">Paswoord wijzigen</a>
</div>

<div>
    <a asp-action="Logout" class="btn btn-secondary">Uitloggen</a>
</div>

