
@{
    ViewData["Title"] = "NoAccess";
}




<div class="noaccess-card card text-center mb-3" style="max-width: 20rem;">
    <div class="card-header">Authorized user login<img class="ImageLogin" src="~/images/userIcon.png" /></div>
    <div class="card-body text-center">
        <h1>NoAccess</h1>
        U hebt geen toegang tot deze pagina
        <a href="~/Security/Logout">
            <button class="btn btn-danger">Ga terug</button>
        </a>
   
    </div>
