@model PaswoordViewModel

@{
    ViewBag.Title = "Paswoord wijzigen";
}



<span = class="text-danger">@ViewBag.ErrorMessage</span>





<form class="form" asp-action="PaswoordWijzigen" method="post" style="display: flex; justify-content: center;">

    <div class="card text-center g-success mb-6" style="width: 100%; max-width: 600px; margin: 0 auto;">
        <div class="card-header">Account</div>
        <div class="card-body text-center">

            <div class="inputWijzigen" style="display: flex; align-items: center; justify-content: center; margin-bottom: 1rem;">
                <label asp-for="OudPaswoord" style="width: 30%; margin-right: 1rem;"></label>
                <input asp-for="OudPaswoord" type="password" id="oudPaswoord" style="width: 50%;" />
                <button type="button" class="btn btn-success" onclick="togglePassword('oudPaswoord')">Toon/Verberg</button>
                <span asp-validation-for="OudPaswoord" class="text-danger"></span>
            </div>

            <div class="inputWijzigen" style="display: flex; align-items: center; justify-content: center; margin-bottom: 1rem;">
                <label asp-for="NieuwPaswoord" style="width: 30%; margin-right: 1rem;"></label>
                <input asp-for="NieuwPaswoord" type="password" id="nieuwPaswoord" style="width: 50%;" />
                <button type="button" class="btn btn-success" onclick="togglePassword('nieuwPaswoord')">Toon/Verberg</button>
                <span asp-validation-for="NieuwPaswoord" class="text-danger"></span>
            </div>

            <div class="inputWijzigen" style="display: flex; align-items: center; justify-content: center; margin-bottom: 1rem;">
                <label asp-for="NieuwPaswoordConfirmatie" style="width: 30%; margin-right: 1rem;"></label>
                <input asp-for="NieuwPaswoordConfirmatie" type="password" id="nieuwPaswoordConfirmatie" style="width: 50%;" />
                <button type="button" class="btn btn-success" onclick="togglePassword('nieuwPaswoordConfirmatie')">Toon/Verberg</button>
                <span asp-validation-for="NieuwPaswoordConfirmatie" class="text-danger"></span>
            </div>

            <div>
                <button type="submit" class="btn btn-success">Wijzigingen doorvoeren</button>
                <a asp-action="Index" class="btn btn-danger">Annuleren</a>
            </div>

        </div>
    </div>

</form>
@section Scripts {
    <script>
        function togglePassword(fieldId) {
            var field = document.getElementById(fieldId);
            if (field.type === "password") {
                field.type = "text";
            } else {
                field.type = "password";
            }
        }
    </script>
}
