@model PersoneelToevoegenViewModel

@{
    ViewData["Title"] = "Gebruiker Toevoegen";
}

<h2>Personeelslid Toevoegen</h2>

<form class="form" asp-action="Toevoegen" method="post">
    <div>
        <label asp-for="Voornaam" class="control-label"></label>
        <input asp-for="Voornaam" class="form-control" />
    </div>
    <div>
        <label asp-for="Familienaam" class="control-label"></label>
        <input asp-for="Familienaam" class="form-control" />
    </div>
     <div>
        <label asp-for="Emailadres" class="control-label"></label>
        <input asp-for="Emailadres" class="form-control" />
    </div>

    <div>
        <label asp-for="Paswoord" class="control-label"></label>
        <input asp-for="Paswoord" type="password" class="form-control" />
    </div>

    <div>
        <label asp-for="Indienst" class="control-label"></label>
        <input asp-for="Indienst" type="checkbox" value="true" />
    </div>

    <div>
        <label asp-for="Disabled" class="control-label"></label>
        <input asp-for="Disabled" type="checkbox" />
    </div>

    <div>
        <input type="submit" value="Toevoegen" class="btn btn-secondary" />
        <a asp-action="PersoneelsLeden" class="btn btn-secondary">Annuleren</a>
    </div>
</form>