@model List<Securitygroep>
@{
    ViewData["Title"] = "Security groepen";
}

<h2>Security groepen</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Naam</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var securitygroep in Model)
        {
            <tr>
                <td>@securitygroep.SecurityGroepId</td>
                <td>@securitygroep.Naam</td>
                <td>
                    <a asp-action="SecuritygroepDetails" asp-route-id="@securitygroep.SecurityGroepId">
                        <button class="btn btn-success">Details</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
