@model AdresWijzigenViewModel

@{
    ViewData["Title"] = "Adres wijzigen";
}

<h2>Adres Wijzigen</h2>

<form class="form" asp-action="WijzigingDoorvoeren" method="post">
    <input asp-for="KlantId" hidden />
    <div>
        <label asp-for="FacturatieAdres"></label>
        <input asp-for="FacturatieAdres" />
    </div>
    <div>
        <label asp-for="LeveringsAdres"></label>
        <input asp-for="LeveringsAdres" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Wijziging doorvoeren</button>
        <a asp-action="Details" asp-route="@Model.KlantId" class="btn btn-danger">Annuleren</a>
    </div>
</form>