@model Bestelling

@{
    ViewData["Title"] = "Bestelling wijzigen";
}

<h2>Bestelling wijzigen</h2>

<form asp-action="Wijzigen" method="post">
    <div>
        <label asp-for="Betaald"></label>
        <input asp-for="Betaald" />
    </div>

    <div>
        <label asp-for="Bedrijfsnaam"></label>
        <input asp-for="Bedrijfsnaam" />
    </div>

    <div>
        <label asp-for="BtwNummer"></label>
        <input asp-for="BtwNummer" />
    </div>

    <div>
        <label asp-for="Voornaam"></label>
        <input asp-for="Voornaam" />
    </div>

    <div>
        <label asp-for="Familienaam"></label>
        <input asp-for="Familienaam" />
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Wijzigingen doorvoeren</button>
    </div>
</form>